.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.signup form {
  margin: 10% auto 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 3rem;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.signup form h1 {
  margin-bottom: 2rem;
  font-size: 2rem;
}

.signup .form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  width: 100%;
}

.signup .form-group label {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.signup .form-group input {
  padding: 0.5rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  background-color: #f2f2f2;
}

.signup .btn {
  
  margin-top: 1rem;
  padding: 0.5rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
    transition: all 0.2s
}

.signup .btn:hover {
  background-color: #0069d9;
  transform: scale(1.1);
}

.signup a {
  color: #4285f4;
  text-decoration: none;
  font-weight: bold;
}

.signup a:hover {
  text-decoration: underline;
}

.signup .error {
  margin-top: 1rem;
  color: #f44336;
}
